body {
  background: rgb(220, 222, 225);
}

h1 {
  text-align: center;
}

.paddedContent {
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.mFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(220, 222, 225);
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.mFooter > div > h2 {
  margin: 0 !important;
}

.headerChild {
  margin-top: 8px;
}

.landingListingsViewInner {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.createListingViewInner {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.bottom-space {
  margin-bottom: 8px !important;
}

.listingCard {
  border: 2px solid #1DA57A !important;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.5);
}

.listingCardContainer {
  margin-top: 12px;
}

.listingCardImg {
  height: 160px;
  object-fit: cover;
}

.listingViewInner {
  padding: 16px;
}

.ant-carousel .slick-dots li.slick-active button {
  color: #1DA57A !important;
}

.listingListTableImage {
  width: 128px;
}

.react-html5-camera-photo > img, .react-html5-camera-photo > video {
  width: 90% !important;
}

.mainTitle {
  padding-bottom: 0.1em;
  margin-bottom: 0.1em !important;
  border-bottom: 2px solid #1DA57A !important;
  /*box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.5);*/
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}