h1 {
  text-align: center;
}

.mHeader {
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
  border-bottom: 2px solid #1DA57A !important;
}

.headerChild {
  margin-top: 8px;
}

.landingListingsViewInner {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.createListingViewInner {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.bottom-space {
  margin-bottom: 8px !important;
}

.listingCard {
  border: 2px solid #1DA57A !important;
}

.listingCardContainer {
  margin-top: 12px;
}

.listingViewInner {
  padding: 16px;
}

.ant-carousel .slick-dots li.slick-active button {
  color: #1DA57A !important;
}

.listingListTableImage {
  width: 128px;
}

.react-html5-camera-photo > img, .react-html5-camera-photo > video {
  width: 90% !important;
}